html {
    width: 100%;
    height: 100%;
}

body {
    height: 98%;
}

.container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0;
    height: 100%;
}

.container > .logo {
    grid-area: 1 / 1 / 2 / 2;
}

.logo > img {
    width: 100%;
    height: auto;
    margin-left: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.logo > img:hover {
    -webkit-transform : scale(1.3);
    transform: scale(1.3);
}

.container > .canvas {
    grid-area: 2 / 2 / 6 / 3;
    border: black solid;
    border-radius: 10px;

}

.container > .ListPlayers {
    grid-area: 2 / 1 / 7 / 2;
    border: black solid;
    border-radius: 10px;
    align-content: center;
}

.container > .title {
    grid-area: 1 / 2 / 2 / 3;
}

.container > .DrawingOptions {
    grid-area: 6 / 2 / 7 / 3;
    border: black solid;
    border-radius: 10px;
}

.Tchat {
    grid-area: 1 / 3 / 7 / 4;
    border: black solid;
    border-radius: 10px;
}

#DrawingArea {
    width: 100%;
    height: 97%;
    background-color: white;
}

a {
    margin: 100px 10px 10px 10px;
}

button:focus {
    border-radius: 10px;
    background-color: #5f9ea0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:hover {
    opacity: 0.7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {
    height: 80px;
    width: 100px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#save:before {
    content: "\2714";
}

#pen:before {
    content: "\270E";
}

#rst:before {
    content: "\2716";
}

#rub:before {
    content: "\2601"
}

#fill:before {
    content: "\26AB"
}

#und:before {
    content: "\27A5";
}