select, button {
  padding: 1% 1% 1% 2%;
  font-size: 18px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: center;
  margin: 2px;
}
.options {
  position: center;
  padding-left: 32%;
}

select::-ms-expand {
  display: none; /* supprimer la fléche par défaut en IE 10 et 11 */
}

canvas {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin-top: 0.5%;
  margin-left: 0.5%;
  min-height: calc(100vh - 112px);
  max-height: calc(100vh - 112px);
  min-width: calc(147vh - 112px);
  max-width: calc(147vh - 112px);
}

.Canvas {
  height: 70%;
  width: 100%;
}
