@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:ital,wght@1,600&display=swap');

#font, #subtitles {
  font-family: 'Grape Nuts', cursive;
  font-size: 200%;
}

#subtitles {
  font-size: 300%;
}

#page {
  height: 100vh;
  background-image: linear-gradient(to top right, #86faff, #fffdd2, #fa86ff);
}

h1 {
  color: white;
}

.auth-form-container {
  background-color: #262b30E0;
  border-radius: 15px;
  margin: 5% auto;
  max-width: 40%;
  min-width: 300px;
  padding: 5% 10px 5% 10px;
  text-align: center;
}

.auth-form-group{
  margin: 5%;
  text-align: center;
}

.auth-form-control {
  text-align: center;
}

.create-room-form-container{
  background-color: #bdc5cf;
  border-radius: 50px;
  max-width: 30%;
  margin: 5% auto;
  padding: 5% 20px 5% 20px;
  text-align: center;
}

.create-room-form-group{
  margin: 5%;
  text-align: center;
}

#create-room{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}

.check-private-game{
  margin-top: 30%;
}

.begin-game-button {
  margin-top: 25%;
}
