.auth-form-container .create-room-form-container{
  background-color: #bdc5cf;
  border-radius: 50px;
  min-width: 380px;
  max-width: 30%;
  margin: 5% auto;
  padding: 5% 20px 5% 20px;
  text-align: center;
}

.auth-form-group{
  margin: 5%;
  text-align: center;
}

.form-control {
  text-align: center;
}

.create-room-form-container{
  background-color: #bdc5cf;
  border-radius: 50px;
  max-width: 30%;
  margin: 5% auto;
  padding: 5% 20px 5% 20px;
  text-align: center;
}

.create-room-form-group{
  margin: 5%;
  text-align: center;
}

#create-room{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}

.check-private-game{
  margin-top: 30%;
}

.begin-game-button {
  margin-top: 25%;
}
