/*

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
    'Roboto', 'Segoe UI', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*/

@import 'bootstrap/scss/bootstrap';
@import 'game_canvas';
@import 'tchat';
