@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:ital,wght@1,600&display=swap');

.tuto {
  display: flex;
}

.tuto-left {
  float: left;
  min-width: calc(115vh - 655px);
  max-width: calc(115vh - 655px);
  min-height: calc(90vh - 90px);
  max-height: calc(90vh - 90px);
  margin-left: 1vh;
}

.tuto-pic {
  float: right;
  min-width: calc(173vh - 150px);
  max-width: calc(173vh - 150px);
  margin-right: 1vh;
  margin-bottom: 1vh;
}

.number {
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  font-size: 200%;
}

.paragraph {
  font-family: 'Grape Nuts', cursive;
  font-size: 120%;
  margin-left: 1%;
}
